.topbar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1877f2;
    z-index: 999;
    position: sticky;
}

.topbarLogo span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
